/*error*/
/*success*/
/*info*/
/*warning*/
/*default*/
/*@default-color-active:rgba(57, 154, 84, 0.87) !important;*/
body {
  /*text*/
  /*text end*/
  /*modals*/
  /*modals end*/
  /*thumbnail begin*/
  /*thumbnail end*/
  /*app custom begin :************************************************************************************************************************************/
  /*app custom end :*/
}
body hr {
  border-color: #999 !important;
  border-width: 1px;
}
body .wrap {
  padding-bottom: 0;
  background: #fff !important;
}
body .wrap .welcome {
  position: relative;
  min-height: 59em;
  overflow: auto;
}
body .wrap .main {
  min-height: 600px;
}
body .wrap .main .container .content div.title {
  font-size: 2.3em;
}
body h1 {
  font-size: 1.5em;
}
body .text-white {
  color: #fff;
}
body .text-info {
  color: #0A0A0A !important;
}
body .text-danger {
  color: #C30C08 !important;
}
body .text-warning {
  color: #AB7E00 !important;
}
body .text-success {
  color: #3c763d !important;
}
body .modal.fade.in {
  /*background-color: rgba(56, 56, 56, 0.58) !important;*/
}
body .modal .close {
  text-shadow: none;
}
body .modal .modal-dialog {
  margin-top: 75px;
}
body .modal .modal-dialog .modal-header,
body .modal .modal-dialog .modal-footer,
body .modal .modal-dialog .modal-body {
  background: #fff !important;
  border-color: #999 !important;
}
body .modal.modal .modal-footer {
  padding: 10px;
}
body .modal.modal .modal-footer .btn {
  padding: 1em 1.2em;
  font-size: 0.8em;
  line-height: 1.3333333;
  opacity: 0.8;
}
body .nav.nav-tabs li > a {
  -webkit-appearance: none;
  -webkit-border-radius: 1px !important;
  -moz-border-radius: 1px !important;
  border-radius: 1px !important;
}
body .thumbnail {
  border-width: 1px;
  -webkit-appearance: none;
  -webkit-border-radius: 1px !important;
  -moz-border-radius: 1px !important;
  border-radius: 1px !important;
  border-color: #999 !important;
  background-color: #fff !important;
}
body .blueimp-gallery-main {
  margin-top: -20px;
  background: transparent;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
body .blueimp-gallery-main .slide-content {
  background-size: cover!important;
}
body .footer {
  position: relative;
  width: 100%;
  bottom: -85px;
}
body .footer a:hover,
body .footer a:focus {
  background: none!important;
}
body .concept-info .fa {
  font-size: 10em;
  color: #D48E41 !important;
}
body .welcome .header_menu a:focus,
body .welcome .header_menu a:hover {
  background: transparent;
}
body .sidebar .block li {
  padding: 0!important;
}
body .sidebar .block li a {
  padding: 15px!important;
}
